GoSwitch.CustomerTools/obj/
GoSwitch.CustomerTools.Common/bin/Debug/
GoSwitch.CustomerTools.Common/obj/Debug/
GoSwitch.CustomerTools.Common/obj/Release/
GoSwitch.CustomerTools.DAL/bin/Debug/
GoSwitch.CustomerTools.DAL/obj/
GoSwitch.CustomerTools.DB/bin/
GoSwitch.CustomerTools.DB/obj/
GoSwitch.CustomerTools.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
GoSwitch.CustomerTools.Web/obj/
packages/Antlr.3.5.0.2/lib/Antlr3.Runtime.pdb
packages/bootstrap.3.3.7/bootstrap.3.3.7.nupkg
packages/EntityFramework.6.2.0/tools/about_EntityFramework.help.txt
packages/System.Diagnostics.DiagnosticSource.4.4.1/System.Diagnostics.DiagnosticSource.4.4.1.nupkg
/.vs
